/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*THIS IS A BASIC CSS RESET, JUST STANDARDIZES SOME STUFF.*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*=====================
	OVERALL
=====================*/

@font-face {
	font-family:Cronos;
	src: url(CronosPro-Regular.otf);
}

html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: transparent;
	font-family: Cronos;
	font-size:2.3vw;
	letter-spacing: 1px;
	color:black;
}

input {
	padding:1vw;
	border-radius: 15px 0 15px 0;
	outline-width:0;
}

table {
	border-collapse:collapse;
	table-layout:fixed;
	text-align:left;
	margin:auto;
}

th{
	font-weight:bold;
	text-align:center;
	padding:1.5vw 1.5vw;
}

tr {
	border-bottom:2px solid rgb(47, 20, 9);
}

tbody td {
	padding:1.5vw 1.5vw;
	text-align:center;
}

#wrapper {
	background: url('../img/bg.png') no-repeat;
	background-position:top right;
	width:96vw;
	height:99vw;
	border-radius:.75vw;
	padding:1vw 2vw;
}

#main-content {
	position:relative;
	width:90.5vw;
	height:88vw;
	background-color: rgba(145, 150, 150, .7);
	padding:2vw;
	border:5px solid rgb(47, 20, 9);
	border-radius:10px;
	text-align:center;
}

.content-page {
	display:none;
	width:90.5vw;
	height:88vw;
	overflow:auto;
}

::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
	border-radius:15px;
    background-color: #222;
}
::-webkit-scrollbar-thumb {
	border-radius:15px;
    background-color:rgb(100, 44, 20);
}

#debug-menu {
	display:none;
	background-color:#00A;
	width:100%;
	height:150px;
	color:white;
	overflow:auto;
}


/*=====================
	TOP BAR
=====================*/

#top-bar {
	cursor:pointer;
	width:98vw;
	height:4.5vw;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

#top-bar ul {
	list-style-type:none;
	margin-left:2vw;
}

#top-bar ul li {
	display:inline-block;
	padding:1.25vw 2vw .75vw 2vw;
	width:15vw;
	background: linear-gradient(to top, rgb(100, 44, 20), rgb(120, 60, 25));
	color:black;
	cursor:pointer;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-weight:bold;
	border-radius:3px 3px 0 0;
}

.active-tab {
	background: linear-gradient(to top, rgb(47, 20, 9), rgb(100, 44, 20)) !important;
	color:#EEE !important;
	font-size:2.8vw;
	font-weight:normal !important;
}

#opacity-control, .close-button {
	color:#DDD;
	position:absolute;
	top:1vw;
	right:1.5vw;
	width:4vw;
	height:4vw;
	border-radius:5px;
	line-height:4vw;
	background-color:rgb(47, 20, 9);
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}

#opacity-control { right:7vw; font-size:1.2vw; }

.close-button:hover, #opacity-control:hover {
	background-color:rgb(100, 44, 20);
}


/*=====================
	ITEM SEARCH PAGE
=====================*/

#search-window {
	display:none;
	position:absolute;
	width:67vw;
	top:22vw;
	left:10.5vw;
	border:5px solid rgb(47, 20, 9);
	background-color:rgba(255, 255, 255, .8);
	border-radius:15px;
	padding:7vw 3vw 3vw 3vw;
}

#search-results {
	width:67vw;
	max-height:50vw;
	overflow:auto;
}

#search-results table {
	width:65vw;
}

#search-field {
	margin:3vw 0;
}

#search-field-item {
	width:40vw;
	margin-right:15vw;
}

#searchButton {
}

.generic-button {
	border-radius:10px;
	padding:1vw 2vw;
	margin:0 auto 5px auto;
	display:inline-block;
	color:#DDD;
	background: linear-gradient(to bottom, rgb(100, 44, 20), rgb(80, 33, 10) 70%, rgb(100, 44, 20));
	border:2px solid #AAA;
	cursor:pointer;
	box-shadow:0 0 3px black;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.generic-button:hover {
	box-shadow:0 0 10px 1px rgb(200, 200, 25);
}

.generic-button:active {
	background: linear-gradient(to bottom, rgb(70, 31, 13), rgb(55, 25, 8) 70%, rgb(70, 31, 13));
}

#saved-items-headers {
	width:97%;
}

#saved-window {
	margin:1vw auto 0 auto;
	max-height:65vw;
	overflow-y:scroll;
	padding:1vw;
}

#saved-items * {
	vertical-align:middle;
}

#saved-items td{
	background-color:rgb(192,192,192);
}

#saved-items td:nth-child(even){
	background-color:rgb(255,255,255);
}

.item-icon {
	width:30px;
	height:30px;
	vertical-align:middle;
	border:3px double black;
}

.Basic-border {
}

.Fine-border { 
	border-color: #62A4DA; 
}
.Masterwork-border { 
	border-color: #1A9306; 
}
.Rare-border { 
	border-color: #FCD00B; 
}
.Exotic-border { 
	border-color: #FFA405; 
}
.Ascended-border { 
	border-color: #FB3E8D; 
}
.Legendary-border { 
	border-color: #4C139D; 
}

/*=====================
	ALARM PAGE
=====================*/
#local-time, #server-time {
	width: 30vw;
	height:10vw;
	border:2px solid rgb(100, 44, 20);
	padding:2vw;
	background-color:rgba(255, 255, 255, .75);
	margin:1vw 2vw 4vw;
}

#local-time { border-radius: 0 10px 0 10px; float:left; }
#server-time { border-radius: 10px 0 10px 0; float:right; }

#local-time h2, #server-time h2{
	text-decoration:underline;
	font-size:15px;
	margin-bottom:1vw;
}

#alarm-window {
	display:none;
	position:absolute;
	width:71.5vw;
	top:33vw;
	left:6vw;
	border:5px solid rgb(47, 20, 9);
	background-color:rgba(255, 255, 255, .6);
	border-radius:15px;
	padding:3vw;
}

#alarmLabel {
	margin:5vw 0 0 2vw;
	float:left;
	width:40vw;
}

#alarmTime {
	margin:3vw 0 3vw 2vw;
	float:left;
	width:40vw;
}

#alarmButton {
	margin:8vw 5vw 0 0;
	float:right;
}